[submodule "frontend"]
	path = frontend
	url = https://github.com/NYCU-TUHC-TSMC/crest-highlighter-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/NYCU-TUHC-TSMC/crest-highlighter.git
	branch = main
